@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #4318FF;
  --color-secondary: #A3AED0;
  --color-dark: #2B3674;
  --color-light: #F4F7FE;
  --font-sans: "DM Sans", sans-serif;
}

@layer base {

  html,
  body {
    @apply bg-white dark:bg-[#0B1437] m-0 p-0 text-[#2B3674] dark:text-white font-sans antialiased;
  }
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}